.app {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
}

.intro {
  margin: 2em 1em 0.5em 1em;  
  font-size: 1.5rem;
}

.search {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  background: white;
  width: calc(80vw - 1em);

  font-size: 1rem;
  padding: 0.5em;

  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin: 0 auto;  
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90vw;
  margin: 0 auto;
}

.sorts {
  width: 80vw;
  margin: 0 auto 2em auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sorts > div {
  color: var(--primary);
  width: 20vw;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.sorts > div:hover {
  text-decoration: underline;
}

.selected {
  font-size: 1.25rem;
}

.onNow {
  background: var(--primary);
  width: 1.25rem;
  height: 1.25rem;

  color: white;

  margin-left: 0.5em;
  padding: 0.25em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}